dvc==2.24.0
dvclive==0.10.0
neptune-client==0.16.6
wandb==0.13.2
pymysql==1.0.2
ipywidgets==8.0.1
seaborn==0.11.2
plotnine==0.9.0
plotly==5.10.0
pydicom==2.3.0
torchinfo==1.7.0
torchio==0.18.84
pytorch_lightning==1.7.4
torchmetrics==0.9.3
timm==0.6.7
grad-cam==1.4.5
mlflow==1.28.0
albumentations==1.2.1
optuna==3.0.0
optuna-dashboard==0.7.2
onnxruntime==1.12.1
